:root{
  --background_color:#fff;
}

body{
  background-color: var(--background_color);
  background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../public/pexels-ylanite-koppens-796602.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

#root{
  display: flex;
  align-items: center;
}